.aboutMe_text {
  color: darkslategray;
  font-size: 14px !important;
  line-height: 22px !important;
  white-space: pre-line;
}

.resume_timeline .timeline_content .timeline_title {
  font-size: 16px;
  font-weight: 500;
}

.resume_timeline .timeline_content .timeline_date {
  color: darkslategray;
}

.resume_timeline .timeline_content .timeline_description {
  color: gray;
  font-size: small;
  margin-top: 6px;
}

.tagCloud {
  padding-top: 10px;
  padding-bottom: 200px;
}

.contactInfo_item {
  font-size: 14px;
  color: #787878;
}

.contactInfo_item > span {
  color: black;
  font-weight: 500;
}

.cloud3d {
  cursor: default;
  pointer-events: none;        
  text-decoration: none;
  color: grey;
}